.receita-card {
  background: white;
  display: flex;
  flex-direction: row;
  padding-top: 20px;

}

.receita-imagem {
  position: relative;
  height: 100px;
  overflow: hidden;
}

.receita-imagem {
  border-radius: 15%;
  width: 140px;
  height: 140px;
}

.sem-imagem {
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.receita-text {
  margin-left: 10px;
}

.receita-text h2 {
  margin-top: 0;
  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
}

.receita-tempo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}

.tempo {
  font-size: 0.9rem;
  font-weight: 500;
  padding: 5px;
  background: #f8f9fa;
  color: #666;
}

.tempo::before {
  content: "⏱️";
  margin-right: 5px;
}

.receita-categoria {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categoria {
  color: #ff416c;
  background: rgba(255, 65, 108, 0.1);
  padding: 5px 10px;
  border-radius: 20px;
}

.grade-receitas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.receitas-container {
  display: none;
}

.receitas-container[style*="display: block"],
.receitas-container:not([style]) {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.receitas-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}


#receitas-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.cardDataFormatada{
  display: flex;
  font-size: 0.6rem;
  color: gray;
  font-weight: 300;
  margin: 20px 0 0 0;
}

/* Responsividade */
@media (min-width: 1280px) {


  .receitas-container {
    margin-top: 50px;
  }

  .grade-receitas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .receita-card {
    display: flex;
    flex-direction: row;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 20px;
  }

  .receita-imagem {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .receita-header {
    height: 160px;
  }
  
  .receita-body h3 {
    font-size: 1.2rem;
  }
}

@media (max-width: 470px) {

  .receita-text h2 {
    font-size: 1rem;
  }
}

@media (max-width: 460px) {

  .receita-text h2 {
    font-size: 0.9rem;
  }
}