
.categorias-container {
  width: 100%;
  display: grid;
}

.grade-categorias {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.categoria-card {
  aspect-ratio: 1/0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
  border: 2px solid firebrick;
}

.categoria-card h3 {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  padding: 10px;
}

.categoria-card:hover {
  transform: scale(1.03);
}

.voltar-btn {
  background: linear-gradient(to right, #ff4b2b, #ff416c );
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  align-self: flex-start;
  margin-bottom: 10px;
  padding: 10px 15px 10px 10px;
  gap: 8px;
}

.voltar-btn i {
  font-size: 0.9em;
}

.sem-receitas {
  grid-column: 1 / -1;
  text-align: center;
  color: #666;
  padding: 20px;
}
