.receita-detalhes-container {
  display: none;
  width: 90%;
  margin: 0 auto;
}

.receita-detalhes {
  margin-top: 20px;
  margin-bottom: 40px;
  background: white;
  border-radius: 20px;
  max-width: 100%;
}

.receita-detalhes-contorno{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.receita-detalhes-imagem {
  width: 345px;
  height: 345px;
  object-fit:cover;
  border-radius: 10px;
  margin-top: 20px;
}

.receita-detalhes-titulo {
  font-size: 2rem;
  margin-bottom: 15px;
  margin-top: 10px;
  color: #333;
}

.receita-detalhes-meta {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
  font-size: 0.9rem;
}

.receita-detalhes-meta span {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.receita-detalhes-meta i {
    color: #ff4b2b;
}

.receita-detalhes-meta p {
  font-weight: 400;
  margin: 0;
}

.receita-detalhes-section {
  margin-bottom: 20px;
}

.receita-detalhes-section h3 {
  border-bottom: 2px solid #ff4b2b;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #333;
}

.receita-detalhes-ingredientes {
  white-space: pre-line;
}

.receita-detalhes-preparo {
  white-space: pre-line;
}

@media (max-width: 360px) {

    .receita-detalhes-imagem {
        width: 324px;
        height: 324px;
        object-fit:cover;
        border-radius: 10px;
        margin-top: 20px;
    }
}